body {
	margin-left: 84px;
}

div.login-form {
    height: 100%;
    margin-top: 50px;
}

#title-code,
#language-code,
#tags-code {
	text-align: center;
	margin-top: 1%;
}

#title-code{
	color: #ffffff;
}

.button, .menu {
	background: #003f87 !important;
	color: #ffffff;
}

.stacked.segment, .card {
	border: 0.25em solid #8B969E !important;
	border-radius: 5px !important;
}

h1, h2, h3, h4, h5, h6, .header, .divider {
	color: #003f87 !important;
}

#codeview-block-inner {
	background: rgb(224, 230, 195) !important;
}
#codeview-block-outer {
	border: 0.5rem solid #ffffff !important;
}

#login-button, #reg-button {
	background: #bad80a !important;
	color: #000000 !important;
}

.dropdown .item, archive.selected.item {
	background: #ffffff !important;
}

#file-select,
#file-upload {
	position: relative;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	width: 70%;
	height: 30%;
	max-height: 500px;
	max-width: 500px;

	margin: 12px;
}

#paste-area {
	width: 100%;
	border: 1px solid black;
}

#file-drop h2 {
	top: 50%;
	transform: translateY(50%);
}

#file-upload div textarea {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

#logout {
	position: absolute;
	bottom: 0;
	left: 0;
}

#file-select {
	z-index: 500;
}

.code-line:hover {
	background-color: white;
	color: teal;
	cursor: pointer;
}

.code-line * {
	pointer-events: none;
}

.code {
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
}

.comment-modal {
	width: 50%;
	height: 50%;

	position: fixed;
}

#comment-area {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

#modal-mount {
	pointer-events: none;
	position: fixed;
	height: 100%;
	width: 100%;
}

.modal-header {
	text-align: center;
}

#search-area {
	width: 100%;
	height: 100%;

	margin: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=text] {border: 0px none;}
input[type=text] {border: 0px none;}

.card {
	border: 0px none !important;
}